@charset "utf-8";

@media screen and (max-width:768px){
        main {
            padding: 10px;
        }
        #burguer {
            display: block;
            text-align: center;
            padding: 5px;
            cursor: pointer;
        }
       .menu {
            display: none;
        }
        .menu.menu-aberto{
            display: grid;
        }
        nav li.menu-list {
            display: block;
        }
        section.section-home {
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            align-items: center;
            min-height: 150vh;
            padding: 5px 0;
        }
        section.section-home > div.sobre {
            margin-bottom: 10px;
        }
        section.section-home > div > img#foto-sobre {
            width: 50vw;
        }
        section.section-projects > ul.projetos {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
    }
        .imagem-responsiva {
        content: url('../imagens/projeto-login-celular.png');
    }
        .contato {
            text-align: justify;
            display: flex;
            flex-flow: column wrap;
            align-items: center;
            justify-content: center;
            padding: 10px 0;
    }
    .habilidades-container {
        /* Muda para 2 colunas em telas de tablet/celular */
        grid-template-columns: repeat(2, 1fr);
    }

  .timeline-container {
    flex-direction: column; /* Empilha os itens verticalmente */
    align-items: center; /* Centraliza os itens empilhados */
  }

  .timeline-item {
    width: 90%; /* Ocupa a maior parte da largura no mobile */
  }

  .timeline-horizontal {
    /* Remove o espaço extra no topo */
    padding-top: 20px;
  }

  .timeline-horizontal::before,
  .timeline-horizontal .timeline-item::before {
    /* Esconde a linha e os círculos */
    display: none;
  }
}

@media screen and (max-width: 480px) {
    .habilidades-container {
        /* Muda para 1 coluna em telas de celular pequenas */
        grid-template-columns: 1fr;
    }
}